
body {
  background.image: url("static/floral1.jpg");
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.slow-image{
    background-image: url("static/slow.pdf");
    background-color: #cccccc;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

 }

.slow-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

table, th, th , th, th, th{

    color: black;
    background-color: lavender;
}
table{
        width: 100%;
    }

header{
    text-align: center;
    padding: 15px;
    background-color: lavender;
    color: black;
    font-family: verdana;

}

footer {
    text-align: center;
    padding: 5px;
    background-color: transparent;
    color: blue;

}

footer1 {
    text-align: center;
    padding: 5px;
    background-color: transparent;
    color: black;
}

    ol.a {list-style-type: inherit;}
    ol.b {list-style-type: inherit;}
    ol.c {list-style-type: inherit;}
    ol.d {list-style-type: inherit;}
    ol.e {list-style-type: inherit;}
    ol.f {list-style-type: inherit;}
    ol.g {list-style-type: inherit;}
    ol.h {list-style-type: inherit;}
    ol.i {list-style-type: inherit;}
    ol.j {list-style-type: inherit;}
    ol.k {list-style-type: inherit;}
    ol.l {list-style-type: inherit;}
    ol.m {list-style-type: inherit;}
    ol.n {list-style-type: inherit;}
    ol.o {list-style-type: inherit;}
    ol.p {list-style-type: inherit;}
    ol.q {list-style-type: inherit;}
    ol.r {list-style-type: none;}
    ol.s {list-style-type: none;}




